@media screen and (max-width:767px){
    .header{
        width: 300px;
    }
    .left{
        width: 100px;
    }
    .up{
        width: 125px;
    }
    .down{
        width: 125px;
    }
    .main-top-right{
        width: 75px;
    }
    .main-down{
        width: 200px;
    }
    .fotter{
        width: 300px;
    }
}

@media screen and (max-width:479px){
    .header{
     height: 100px;
     width: 150px;
     
    }
    .left{
        height: 100px;
     width: 150px;
     display: block;
    
    }
    .up{
        height: 50px;
     width: 150px;

    }

    .down{
        height: 100px;
     width: 150px;

    }

    .main-top-right{
        height: 100px;
     width: 150px;

    }

    .main-down{
        height: 100px;
     width: 150px;

    }

    .fotter{
        height: 100px;
     width: 150px;

    }

    .main{
        background-color: white;
        height: 450px;
        width: 150px;
        flex-direction: column;
    }
    .main-top{
        background-color: white;
        height: 250px;
        width: 150px;
        flex-direction: column-reverse;
    }
    .main-right{
        background-color: white;
        height: 350px;
        width: 150px;
    }

    .main-top-left{
        height: 150px;
    }
    


   }