<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_fragment(title = '科目情報一覧', scripts = ~{::script}, links = ~{::link})"></head>
<body>
 <div class="container">
   <h1>科目情報一覧</h1>
   <div class="float-end">
     <a th:href="@{/subject/add}" class="btn btn-primary">新規登録はこちら</a>
   </div>
   <table class="table table-striped">
     <thead>
       <tr>
         <th>ID</th>
         <th>科目</th>
         <th></th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="subject : ${subjectlist}" th:object="${subject}" class="align-middle">
         <td th:text="*{id}"></td>
         <td th:text="*{subject}"></td>
         <td><a th:href="@{/subject/{id}(id=*{id})}" class="btn btn-secondary">詳細</a></td>
       </tr>
     </tbody>
   </table>
 </div>
</body>
</html>